services:
#   db:
#     image: postgres
#     restart: always
#     ports:
#       - 5432:5432
#     environment:
#       POSTGRES_USER: root
#       POSTGRES_PASSWORD: mysecretpassword
#       POSTGRES_DB: local
#     volumes:
#       - pgdata:/var/lib/postgresql/data
# volumes:
#   pgdata:

  editor:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - 8292:3000
    env_file: 
     - .env
    environment:
      - CLUT_DIR=/app/cluts
      - IMPORT_DIR=/app/import
      - EXPORT_DIR=/app/export
      - TMP_DIR=/app/tmp
    volumes:
      - ./cluts:/app/cluts
      - ./import:/app/import
      - ./export:/app/export
      - ./tmp:/app/tmp
    networks:
      - traefik_web
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.editor.rule=Host(`${HOST_DOMAIN}`)"
      - "traefik.http.services.editor.loadbalancer.server.port=3000"

networks:
  traefik_web:
    external: true
